.play-video{
  flex-basis: 69%;
  padding-top: 50px;  
}
.play-video iframe{
    width: 100%;
    height: 37vw;
}
.play-video h3{
      margin-top: 10px;
      font-weight: 600;
      font-size: 22px;
}
.play-video-info{
    margin-top: 10px;
    color: #5a5a5a;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video-info img{
    width: 20px;
    margin-right: 8px;
}
.play-video-info span{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div{
  flex: 1;
  line-height: 18px;
}
.publisher img{
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.publisher div p{
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.publisher div span{
    font-size: 14px;
    color: #5a5a5a;
}
.publisher button{
    background: #fff;
    border: 1px solid red;
    color: red;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
.vid-description{
   padding-left: 55px;
    margin-top: 15px 0;
}
.vid-description p{
    font-size: 14px;
    color: #5a5a5a;
    margin-bottom: 5px;
}
.vid-description h4{
    font-size: 14px;
    margin-top: 15px;
    color:#5a5a5a ;
}
.comment{
    display: flex;
    align-items: flex-start;
    margin-top: 20px 0;
}
.comment img{
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.comment h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}
.comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.comment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.comment-action img{
   border-radius: 0;
   width: 20px;
   margin-right: 5px;
}
.comment-action span{
    margin-right: 15px;
    color: #5a5a5a;
}

@media (max-width: 900px) {
    .play-video{
        flex-basis: 100%;
    }
    .play-video iframe{
        height: 50vw;
        width: 100%;
    }
    .vid-description{
        padding-left: 0;
    }
    .play-video .play-video-info span{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
        
    }
}
