.sidebar{
    background: #fff;
    width: 15%;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    height: 100vh;
    position: fixed;
}

.shortcut-links img{
    width: 20px;
    margin-right: 20px;
}
.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
    gap: 10px;
    position: relative;
}
.side-link img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}
.subscribed-list h3{
    font-size: 20px;
    margin: 10px 0;
    color: red;
}
.small-sidebar{
    width: 5%;
    overflow: hidden;
}
.small-sidebar p{
    display: none;
}
.small-sidebar p,
.small-sidebar h3,
.small-sidebar hr {
  display: none;
}

.side-link.active::after {
    content: "";
    position: absolute;
    bottom: -2px;  
    left: 0;          
    width: 24px;      
    height: 1px;      
    background: red;  
}

@media (max-width: 900px) {
    .sidebar{
        display: none;
    }
}
