.recommended{
    flex-basis: 30%;
    padding-top: 50px;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 50%;
    flex-basis: 49%;
}
.vid-info{
    flex-basis: 49%;
}
.vid-info h4{
    font-size: 15px;
    margin-bottom: 7px;
}

@media (max-width: 900px) {
    .recommended{
        flex-basis: 100%;
    }
}